.sign-up{
	
	width: 35vw;
	display: flex;
	flex-direction: column;

	& .title{
		margin: 15px 0; 
		font-weight: 600;
	}

	& .buttons{
		display: flex;
		justify-content: space-between;
	}

	.error{
		color: red;
		font: bold;
		font-size: 15px;
	}
}