.collection-preview {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    margin-left: 50px;
  }

  .preview {
    
    margin: 0px;
  }

  .row{
    
  }
}
